body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
/*	background: url(../Images/IntUIGrad.png) repeat;*/
	/*background: #88D1CA;*/
	font: normal 80% Verdana;
	background:#000 url(../Images/piano.png) repeat-y top left;
}

div.ui-state-info, div.ui-state-error {
	margin:5px 0 0 0;
	padding:5px;
}

div#wrapper {
	width: 1010px;
	min-width: 900px;
	margin:0 auto;
	min-height:200px;
}

/*div#navigation {
	float:left;
	width:23.5%;
	min-height:200px;
	background:#fff;
}*/

div#navigation{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
	padding:3px;
	border-radius:0;
}

div#mainContent {
	float:left;
	/*width:74.3%;*/
	width:700px;
	min-height:200px;
	background:#fff;
	padding:0 8px 8px 8px;
}

div#sideBar{
	/*
	TO GO TO THE RIGHT OF THE MAIN CONTENT WINDOW
	*/	
	float:right;
	width:290px;
	min-height:inherit;
	padding-left:3px;
	background:#fff;
	height:100%;
	position:inherit;
}

div#header {
	width:100%;
	min-height:100px;
	/*background:#fff;*/
	/*border-bottom: 5px solid #000;*/
	background:url(../Images/header.png) no-repeat top left;
	
}

.clear {
	clear:both;
}

div#footer {
	width:100%;
	background:#fff;
	border-top:5px solid #000;
	min-height:60px;
}

div#tabs {
	margin:10px 0 0 0;
}

h1, h2, h3, h4 {
	color:#0B486B;
}	

div.fg-toolbar {
	font-size: 10px;
}

div.fg-toolbar  select{
	font-size: 10px;
}

div.ui-widget {
	margin:10px 0 0 0;
	padding:0 5px 0 5px;
}

button.ui-datepicker-trigger {
	background: url(../Images/calendar.gif) no-repeat;
	width:16px;
	height:15px;
}

